
#header {
    justify-content: center;
    margin: 50px 0 0 0;
}

@media (max-width: 800px) {

}

.nameHeader {
    text-transform: uppercase;
    padding: 20px 0;
}


.subHeader {

}

.accent {
    color: #f4511e
}