#header {
  justify-content: center;
  margin: 50px 0 0 0;
}

@media (max-width: 800px) {
}

.nameHeader {
  text-transform: uppercase;
}

.subHeader {
}

.accent {
  color: #f4511e;
}
.clickableChip:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 3px 1px 7px -6px rgba(0,0,0,0.84);
  transition: 0.3s;
}

.clickableChip {
  transition: 0.3s;
}
