
.box {
    display: flex;
    flex-direction: column;
}
.projectBox{
    display: flex;
}
.projectImg{
    width: 450px;
    max-height: 300px;
    object-fit: cover;

}

.projectImgContainer {
    text-align: center;
    overflow: hidden;
}