.left, .right {
  display: flex;
  position: fixed;
}

.left {
  flex-direction: column;
  left: 15px;
  bottom: -10px;
}

.right {
  flex-direction: row;
  right: 15px;
  bottom: -10px;
  writing-mode: vertical-rl;
}

.left::after, .right::after{
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  margin: 0px auto;
  background-color: #f4511e;
}

.right::after {
  margin-top: 10px;
}

@media (max-width: 1000px) {
  .left, .right {
    display: none;
  }
}
