.skillsContainer {
  font-size: 40px;
}

.techBox {
  margin: 15px;
}

.card {
  border-radius: 5%;

  width: 80px;
  height: 80px;

  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden;

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 1;
}

.card::before {
  content: "";
  position: absolute;
  height: 210%;
  width: 200%;
  top: 100%;
  left: -140%;
  transform: rotate(45deg);
  transition: all 0.7s ease-in-out;
  opacity: 0;
  z-index: 1;
}
.card:hover {
  /* transition: all .2s linear;
    transform: scale(1.2);
    color: #fff; */
}
.card:hover::before {
  top: -80%;
  left: -25%;
  opacity: 1;
  z-index: -1;
}

.card:hover .front {
  transition: all 0.3s linear;
  transform: scale(1.05);
  color: #fff;
}

.front {
  line-height: normal;
  transition: all 0.2s linear;
}
