
.section {
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
	padding: 20px;
}

.title {
    text-transform: capitalize;
	text-align: center;
	margin: 50px 0 50px 0;
}
