
.section {
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
	padding: 20px;
}

.section:not(.hero):nth-child(even) {
	// background-color: #851d1d;
}

.title {
    text-transform: capitalize;
	text-align: center;
	margin: 50px 0 50px 0;
}


.sectionText {
	max-width: 775px;
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 30px;
	text-align: center;
}
